body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a97b0;
    color: #fff;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;

    padding: 20px;
}

.sidebar .logo img {
    width: 100%;
}

.sidebar .menu {
    margin-top: 20px;
}

.sidebar .menu-item {
    padding: 10px;
    background-color: #474757;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
}

.sidebar .menu-item.active {
    background-color: #0a97b0;
}

.main-content {
    flex: 1;
    padding: 20px;
}

h1 {
    margin-top: 0;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0a97b0;
    color: #fff;
}

.form-group button {
    margin-top: 10px;
    padding: 10px;
    background-color: #3b86ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.camadas {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    min-width: 193px;
    min-height: 190px;
}

.camada-naoConfigurada {
    background-color: #ffffff41;
    padding: 5px 10px 20px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    min-width: 193px;
    min-height: 130px;

}

.camada-configurada {
    background-color: #66a3ff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;

}

.camada-title {
    font-weight: bold;
    padding:10px;
    padding-bottom: 0px;
}
.camada-subtitle {
    padding:10px;
    min-width: 160px;
    padding-top: 0px;
}

.add-camada {
    background-color: #3b86ff;
    padding: 10px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}

.gerar {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3b86ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
/* footer section*/
.footer_section {
    position: relative;
    background-color: #ffffff;
    text-align: center;
  }
  
  .footer_section p {
    color: #04233b;
    padding: 25px 0;
    margin: 0;
  }
  
  .footer_section p a {
    color: inherit;
  }

  .info_section {
    background-color: #04233b;
    color: #ffffff;
    padding: 45px 0 15px 0;
  }
  
  .info_section h4 {
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .info_section .info_col {
    margin-bottom: 30px;
  }
  
  .info_section .info_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .info_section .info_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
  }
  
  .info_section .info_contact .contact_link_box a i {
    margin-right: 5px;
  }
  
  .info_section .info_contact .contact_link_box a:hover {
    color: #0a97b0;
  }
  
  .info_section .info_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .info_section .info_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    border-radius: 100%;
    margin-right: 10px;
    font-size: 24px;
  }
  
  .info_section .info_social a:hover {
    color: #0a97b0;
  }
  
  .info_section .info_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .info_section .info_links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  .info_section .info_links a:hover {
    color: #0a97b0;
  }
  
  .info_section form input {
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    width: 100%;
    height: 45px;
    color: #ffffff;
    outline: none;
  }
  
  .info_section form input::-webkit-input-placeholder {
    color: #ffffff;
  }
  
  .info_section form input:-ms-input-placeholder {
    color: #ffffff;
  }
  
  .info_section form input::-ms-input-placeholder {
    color: #ffffff;
  }
  
  .info_section form input::placeholder {
    color: #ffffff;
  }
  
  .info_section form button {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 10px 55px;
    background-color: #0a97b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: none;
    margin-top: 15px;
  }
  
  .info_section form button:hover {
    background-color: #065968;
  }

  .form{
    background-color: #04233b;
  }

  /*header section*/
.hero_area {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .sub_page .hero_area {
    min-height: auto;
  }
  
  .sub_page .header_section {
    margin-top: 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  }
  
  .header_section .header_top {
    padding: 15px 0;
    background-color: #04233b;
  }
  
  .header_section .header_top .contact_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .header_section .header_top .contact_nav a {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
  }
  
  .header_section .header_top .contact_nav a i {
    margin-right: 5px;
    border-radius: 100%;
    background-color: #ffffff;
    width: 25px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #0a97b0;
  }
  
  .header_section .header_top .contact_nav a:hover i {
    color: #04233b;
  }
  
  .header_section .header_bottom {
    background-color: #ffffff;
    padding: 15px 0;
  }
  
  .header_section .header_bottom .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
    background-color: #0a97b0;
  }
  
  .navbar-brand span {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
  }
  
  .custom_nav-container {
    padding: 0;
  }
  
  .custom_nav-container .navbar-nav {
    margin-left: auto;
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 20px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
    color: #0a97b0;
  }
  
  .custom_nav-container .nav_search-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    color: #000000;
  }
  
  .custom_nav-container .nav_search-btn:hover {
    color: #000000;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #000000;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .custom_nav-container .navbar-toggler span::after {
    top: 10px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 0;
    margin-bottom: -4px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
    display: none;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 0;
    margin-top: -4px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
  .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
  .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
    -webkit-transform: none;
            transform: none;
  }
  
  /*end header section*/